<div class="air">
    Air
    <div class="footer_container">
        <p class="realtime_labels" style="color:black;" id="pressure_status_label">This is the air pressure graph. Please select a track or station.</p>
        <div id="pressure_globe" style="display: none;">
            <img style="max-height: 50px;" src="/static/resources/images/globe.gif">
        </div>
        <div style="height: 300px;">
            <canvas id="pressure_chart" ></canvas>
        </div>
        <div class="pressure_realtime_data">
            <p class="realtime_labels" id="pressure_time_label"></p>
            <p class="realtime_labels" id="pressure_label"></p>
            <div style="float: right; margin-right: 15px;">
                <button type="button" id="air_timezone" class="btn btn-secondary timezone">Timezone on</button>
            </div>
            <div style="clear: both;"></div>

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/pressure_chart.js') }}"></script>