<div class="air">
    Air
    <div class="footer_container">
        <canvas id="pressure_chart" ></canvas>
        <div class="pressure_realtime_data">
            <p class="realtime_labels" id="pressure_loading_label">Loading history...</p>
            <p class="realtime_labels" id="pressure_time_label"></p>
            <p class="realtime_labels" id="pressure_label"></p>
            <div style="float: right; margin-right: 15px;">
                <button type="button" id="air_timezone" class="btn btn-secondary timezone">Timezone on</button>
            </div>
            <div style="clear: both;"></div>

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/pressure_chart.js') }}"></script>