    <div class="input_container error_container">
    <p style="display: none;" id="latitude_error">Latitude must only contain a coordinate.  Please remove any other character that is not a number or dot.</p>
    <p style="display: none;" id="longitude_error">Longitude must only contain a coordinate. Please remove any other character that is not a number or dot.</p>
    <p style="display: none;" id="limit_error">Limit must only contain numbers. Please remove any other character</p>
    <p style="display: none;" id="range_error">Range must only contain numbers. Please remove any other character</p>
</div>