<!doctype html>
<html lang="en">
    <head>
        {% include 'def.html' %}
        <title>F1 | Weather</title>
    </head>
    <body>
        {% include 'top_navbar.html' %}
        {% include 'second_navbar.html' %}
        {% include 'left_navbar.html' %}
        
        {% include 'error.html' %}
        <div class="container maincontainer">
            <div class="row top_row">
                <div class="col-12 col-lg-6 columns">
                    {% include 'filter.html' %}
                </div>
                <div class="col-12 col-lg-6 columns">
                    {% include 'map.html' %}
                </div>
            </div>
            <div class="row bot_row">
                <div class="col-12 col-lg-6 columns temp_row">
                    {% include 'temperature.html' %}
                </div>
                <div class="col-12 col-lg-6 columns">            
                    {% include 'air.html' %}
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </body>
</html>
