<!doctype html>
<html lang="en">
    <head>
        {% include 'def.html' %}
        <title>F1 | Weather</title>
    </head>
    <body>
        {% include 'top_navbar.html' %}

        {% include 'second_navbar.html' %}

        {% include 'left_navbar.html' %}

        <div class="container maincontainer">
            <div class="row">
                <div class="col">
                    {% include 'temperature.html' %}
                </div>
                <div class="col">
                    {% include 'air.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% include 'map.html' %}
                </div>
                <div class="col">
                    {% include 'filter.html' %}
                </div>
            </div>
        </div>
    </body>
</html>
