<div class="left_navbar">
    <div class="open_container btn_container">Show tracks</div>
    <div class="close_container btn_container">Close tracks</div>
    <div class="tracks_container" style="display: none;">
        {% for track in racing_tracks %}
        <div class="track_container">
            <p latitude="{{ track.latitude }}" longitude="{{ track.longitude }}" country="{{ track.country }}" countryid="{{ track.country_id }}" trackID="{{ track.id }}">- {{ track.title }} </p>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/left_navbar.js') }}"></script>