<div class="left_navbar">
    <div class="open_container btn_container">Show tracks</div>
    <div class="close_container btn_container">Close tracks</div>
    <div class="tracks_container" style="display: none;">
        {% for track in racing_tracks %}
        <div class="track_container">
            <p latitude="{{ track.latitude }}" longitude="{{ track.longitude }}">- {{ track.title }} </p>
        </div>
        {% endfor %}
    </div>
    
    <div class="open_container btn_container">Show download</div>
    <div class="close_container btn_container">Close download</div>
    <div class="download_container"></div>
    
    <div class="open_container btn_container">Show settings</div>
    <div class="close_container btn_container">Close settings</div>
    <div class="settings_container"></div>

</div>

<script src="{{ url_for('static', filename='js/left_navbar.js') }}"></script>