{% include 'def.html' %}
<body>
    <div class="container login_wrapper">
        Login page
        {% if error != None  %}
        <div class="session_error_container">
              <span>{{ error }}</span>  
        </div>
        {% endif %}
        <div class="login_container">
            <div class="form_container">
                <form method="POST">
                    <input type="text" name="username" placeholder="Username" class="form-control login_input_styling">
                    <input type="password" name="password" placeholder="Password" class="form-control login_input_styling">
                    <button type="submit" name="submit" class="login_input_styling login_btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
