<div class="map">
    Map with tracks & stations
    <div class="footer_container" id="mapid">

    </div>
</div>


<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script>
    $(document).ready(function() {
        jsonArray = {{ racing_tracks|tojson|safe }};
        for(var index in jsonArray) { 
            console.log("Track " + jsonArray[index].id + " index " + index);    
            var marker = L.marker([jsonArray[index].latitude.toFixed(2), jsonArray[index].longitude.toFixed(2)], {icon: racetrackIcon} ).addTo(markers)
                .bindPopup("City:" + jsonArray[index].city + ", Country: " +  jsonArray[index].country + ", Title: " + jsonArray[index].title);
            marker.highlighted = false;
            marker.profile = "track";
            marker.track_id = jsonArray[index].id-1;
            marker.latitude = jsonArray[index].latitude;
            marker.longitude = jsonArray[index].longitude;
            marker.country_id = jsonArray[index].country_id;
        }   
    });
</script>

