<div class="temperature">
    Temperature
    <div class="footer_container">
        <canvas id="temperature_chart" ></canvas>
        <div class="temp_realtime_data">
            <p class="realtime_labels" id="temp_status_label">This is the temperature graph. Please select a track to get all temperature stations in a country.</p>
            <p class="realtime_labels" id="temp_time_label"></p>
            <p class="realtime_labels" id="temperature_label"></p>
            <p class="realtime_labels" id="amount_temperature_stations"></p>
            <p class="realtime_labels" id="temperature_country"></p>
            <div style="float: right; margin-right: 15px;">
                <button type="button" id="temperature_timezone" class="btn btn-success timezone">Local timezone</button>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>


</div>

<script src="{{ url_for('static', filename='js/temp_chart.js') }}"></script>
