.air {
    text-align: center; 
    color: gold;
    border-radius: 5px;
    background-color: #091e49; 
}

.air .footer_container {
    border-top: black 1px solid;
    width: 100%;
    height: 39vh;
    margin-top: 1vh;
    border-radius: 5px;
    background-color: white;
}