body {
    background-color: #ccc;
    background: linear-gradient(rgb(139, 138, 139, 0.6), rgb(39, 38, 39, 0.6), rgb(79, 78, 79, 0.6), rgb(139, 138, 139, 0.6)), url("/static/resources/images/background.jpeg");
}

.maincontainer {
    margin-top: 150px;
    max-height: 80vh;
    margin-left: 25%;
}

.maincontainer .top_row {
    max-height: 50vh;
    min-height: 50vh;
    margin-top: 24px;
}

.maincontainer .bot_row {
    max-height: 30vh;
    min-height: 30vh;
    margin-top: 24px;
}

.maincontainer .row .columns {
    /* border: 1px solid black; */
    /* border-radius: 4px; */
    padding: 0px;
    margin-bottom: 40px;
}


.error_container {
    position: absolute;
    right: 25px;
    color: red;
    text-align: center;
    font-size: 14px;
    width: 15%;
    margin-right: 2%;
    height: 40vh;
    bottom: 35px;    
}

.footer {
    height: 40px;
}

@media only screen and (max-width: 1200px) {
    .maincontainer {
        margin-left: 25%;
    }

    .maincontainer .top_row {
        max-height: 50vh;
        min-height: 50vh;
        margin-top: 24px;
    }
    
    .maincontainer .bot_row {
        max-height: 30vh;
        min-height: 30vh;
        margin-top: 24px;
    }
    
    .error_container {
        width: 15%;
        margin-right: 5%;
        height: 40vh;
        bottom: 25px;
    }
    
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .maincontainer {
        margin-left: 5%;
    }
    
    .maincontainer .top_row {
        max-height: 50vh;
        min-height: 50vh;
        margin-top: 24px;
    }

    .maincontainer .bot_row {
        max-height: 30vh;
        min-height: 30vh;
        margin-top: 160px;
    }

    .maincontainer .row .columns {
        margin-top: 20px;
    }
    

    .maincontainer .top_row {
        margin-top: -80px;
    }
    
    .maincontainer .bot_row {
        margin-top: 40px;
    }

    .error_container {
        width: 6%;
        margin-right: 2%;
        height: 40vh;
        bottom: 25px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .maincontainer {
        margin-left: 5%;
        min-width: 9 0%;
    }

    .maincontainer .row {
        max-height: 80vh;
        min-height: 80vh;
        margin-top: 100px;
    }

    .maincontainer .row .columns {
        margin-top: 20px;
    }

    .maincontainer .row .temp_row {
        margin-top: 130px;
    }

    .maincontainer .top_row {
        margin-top: -80px;
    }
    
    .maincontainer .bot_row {
        margin-top: 40px;
    }


    
    .error_container {
        width: 6%;
        margin-right: 2%;
        height: 80vh;
        bottom: 25px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 580px) {
    .maincontainer {
        min-width: 90%;
        margin-left: 5%;
    }

    .maincontainer .row {
        max-height: 80vh;
        min-height: 80vh;
        margin-top: 100px;
    }

    .maincontainer .row .columns {
        margin-top: 20px;
    }

    .maincontainer .row .filter_row {
        margin-top: -80px;
    }

    .maincontainer .row .temp_row {
        margin-top: 80px;
    }

    .error_container {
        width: 5%;
        height: 80vh;
        bottom: 25px;
    }
}

@media only screen and (max-width: 580px) {
    .maincontainer {
        min-width: 90%;
        margin-left: 0%;
    }

    .maincontainer .row {
        max-height: 80vh;
        min-height: 80vh;
        margin-top: 100px;
    }

    .maincontainer .row .columns {
        margin-top: 20px;
    }

    .error_container {
        width: 5%;
        height: 80vh;
        bottom: 25px;
    }

    .maincontainer .row .filter_row {
        margin-top: -80px;
    }
    .maincontainer .row .map_row {
        margin-top: 30px;
    }
    .maincontainer .row .temp_row {
        margin-top: 10px;
    }
    .maincontainer .row .air_row {
        margin-top: 10px;
    }
}