body {
    background-color: #ccc;
    background: linear-gradient(rgb(139, 138, 139, 0.6), rgb(39, 38, 39, 0.6), rgb(79, 78, 79, 0.6), rgb(139, 138, 139, 0.6)), url("/static/resources/images/background.jpeg");
}

.maincontainer {
    margin-top: 50px;
    max-height: 80vh;
    margin-left: 25%;
}

.maincontainer .row {
    max-height: 40vh;
    min-height: 40vh;
}

.maincontainer .row .col {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
}

@media only screen and (max-width: 1200px) {
    .maincontainer {
        margin-left: 25%;

    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .maincontainer {
        margin-left: 20%;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .maincontainer {
        margin-left: 15%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
    .maincontainer {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 576px) {
    .maincontainer {
        margin-left: 5%;
    }
}