.left_navbar {
    position: fixed;
    height: 94vh;   
    background-color: #091e49;
    background-image: linear-gradient(to bottom left, #091e49,#091e49,  #e2063b);
    width: 12%;
    border: 1px solid black;
}