.left_navbar {
    position: fixed;
    height: 94vh;   
    background-color: #091e49;
    background-image: linear-gradient(to bottom left, #091e49,#091e49,  #e2063b);
    width: 250px;
    border: 1px solid black;
}

.left_navbar hr {
    width: 80%;
    color: yellow;
    padding: 5px;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .left_navbar {
        visibility: hidden;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .left_navbar {
        visibility: hidden;
    }
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
    .left_navbar {
        visibility: hidden;
    }
}
@media only screen and (max-width: 576px) {
    .left_navbar {
        visibility: hidden;
    }
}

.left_navbar .track_container {
    padding: 5px;
    height: 2em;
    width: 90%;
    cursor: pointer;
    background-color: none;
    color: #848689 ;
    overflow: hidden;
}

.left_navbar .track_container:hover {
    color: #e2063b;
    border: 1px solid gold;
    border-radius: 5px;
    margin-left: 5px;
}

.left_navbar .open_tracks {
    color: #e2063b;
    cursor: pointer;
}

    color: #e2063b;
    cursor: pointer;
.left_navbar .open_tracks {
}