.temperature {
    text-align: center; 
    color: gold;
    border-radius: 5px;
    background-color: #091e49; 
}

.temperature .footer_container {
    border-top: black 1px solid;
    width: 100%;
    height: 39vh;
    margin-top: 1vh;
    border-radius: 5px;
    background-color: white;
}

.temperature .footer_container .temp_realtime_data{
    margin-top: 30px;
    margin-left: 30px;
    color: black;
    font-size: 15px;
    line-height: 0;
    text-align: left;
    font-weight: bold;
}