@media only screen and (min-width: 1202px) {
    .top_navbar {
        z-index: 999;
        width: 100%;
        position: fixed;
        margin-top: -150px;
    }
}

.top_navbar .navbar {
    background-color:#091e49;
}

.top_navbar .navbar .navbar-brand img {
    max-height: 70px;
}


.top_navbar .navbar .form-inline .btn {
    color: #e2063b !important;
    border: 1px solid #e2063b !important;
}

.top_navbar .navbar .form-inline .btn:hover {
    color: #091e49 !important;
    background-color: #e2063b !important;
}
